# Archivos de Maven
target/
!target/*.jar
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Archivos de IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de Git
.git/
.gitignore

# Archivos de Docker
Dockerfile
.dockerignore
compose.yaml

# Archivos de logs
*.log

# Archivos temporales
*.tmp
*.temp

# Archivos de configuración local
application-local.properties
application-dev.properties
